#### **Deploy de aplicações**

#### **Observações**

#### **Conteúdo - Bases e Notebook da aula**

Github:  
https://github.com/FIAP/Pos_Tech_DTAT/tree/dd201a034223a16732c6f639b40600b26bd3129c

Como criar ambientes para evitar conflito:  
https://github.com/RicardViana/fiap-data-viz-and-production-models/blob/main/Roteiro%20para%20cria%C3%A7%C3%A3o%20de%20ambiente.pdf

Base Credit Card Approval Predictio do Kaggle:  
https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction

#### **Importação de bibliotecas**

In [90]:
# Importar biblioteca completa
import pandas as pd

# Importar algo especifico de uma biblioteca

#### **Funções (def)**

#### **Aula 1 - Tratando os dados**

In [91]:
# Importar dados cadastrado 

link = 'https://raw.githubusercontent.com/FIAP/Pos_Tech_DTAT/dd201a034223a16732c6f639b40600b26bd3129c/dados/clientes_cadastrados.csv'
cadastrados = pd.read_csv(link, sep= ",")

In [92]:
# Ver os primeiros dados 

cadastrados.head()

,ID_Cliente,Genero,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-21474,-1134,1,0,0,0,Segurança,2.0
3,5008808,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0
4,5008809,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0

In [93]:
# Ver os a qtd de linhas e colunas

cadastrados.shape

(438557, 18)

In [94]:
# Ver clientes duplicados

contagem = cadastrados['ID_Cliente'].value_counts()
contagem[contagem > 1]

ID_Cliente
7702516    2
7602432    2
7836971    2
7213374    2
7052783    2
7023651    2
7838075    2
7636389    2
7052812    2
7372589    2
7155150    2
7090931    2
7091721    2
7137299    2
7744386    2
7772847    2
7636756    2
7317997    2
7053557    2
7742853    2
7576316    2
7099881    2
7046068    2
7036518    2
7742298    2
7022197    2
7603224    2
7023108    2
7089090    2
7702238    2
7243768    2
7045885    2
7836711    2
7743418    2
7045794    2
7618285    2
7207977    2
7154598    2
7154819    2
7024111    2
7282535    2
7050948    2
7416167    2
7174719    2
7833087    2
7135270    2
7022327    2
Name: count, dtype: int64

In [95]:
# Ver qtd de registros duplicados

cadastrados[cadastrados['ID_Cliente'].duplicated(keep=False)].shape

(94, 18)

In [96]:
# Filtrar apenas clientes com ID duplicado

ids_duplicados = cadastrados['ID_Cliente'].duplicated(keep=False).copy()
cadastrados[ids_duplicados].sort_values('ID_Cliente')

,ID_Cliente,Genero,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
425023,7022197,F,N,Y,0,450000.0,Associado comercial,Ensino superior,Divorciado,Casa/apartamento próprio,-19813,-1799,1,0,0,1,NaN,1.0
426818,7022197,M,Y,Y,3,135000.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-11945,-735,1,0,0,1,Construção Civil,5.0
431911,7022327,M,Y,Y,0,256500.0,Associado comercial,Ensino superior,Casado,Casa/apartamento próprio,-21503,-1674,1,0,0,1,Equipe principal,2.0
431545,7022327,F,N,Y,0,135000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-14771,-5298,1,0,0,0,Alta tecnologia,1.0
425486,7023108,M,Y,Y,1,67500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-15156,-1696,1,1,0,0,Equipe principal,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426563,7836711,F,N,Y,2,292500.0,Empregado,Ensino superior,Casado,Casa/apartamento próprio,-13747,-4386,1,0,1,0,Contabilidade,4.0
428620,7836971,F,N,Y,0,103500.0,Empregado,Ensino médio,União-estável,Casa/apartamento próprio,-13383,-2798,1,0,1,0,Vendas,2.0
421464,7836971,M,Y,N,1,157500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-13771,-5520,1,0,0,0,NaN,3.0
422068,7838075,M,N,Y,0,337500.0,Associado comercial,Ensino médio,Casado,Casa/apartamento próprio,-18198,-1275,1,0,0,1,Motorista,2.0
423702,7838075,F,Y,Y,0,315000.0,Associado comercial,Ensino superior,Solteiro,Casa/apartamento próprio,-10698,-1659,1,0,0,1,NaN,1.0

In [97]:
# Remover os dados duplicados

id_repetidos = cadastrados[cadastrados['ID_Cliente'].duplicated(keep=False)]
df_cadastrados_limpo = cadastrados.drop(id_repetidos.index)

In [98]:
# Ver clientes duplicados novamente pós drop

contagem = df_cadastrados_limpo['ID_Cliente'].value_counts()
contagem[contagem > 1]

Series([], Name: count, dtype: int64)

In [99]:
# Filtrar apenas colunas com valores nulos

df_cadastrados_limpo.isnull().sum()[df_cadastrados_limpo.isnull().sum() > 0]

Ocupacao    134177
dtype: int64

In [100]:
# Ver os tipos de Ocupacao

df_cadastrados_limpo['Ocupacao'].unique()

array([nan, 'Segurança', 'Vendas', 'Contabilidade', 'Construção Civil',
       'Gerência', 'Motorista', 'Equipe principal', 'Alta tecnologia',
       'Limpeza', 'Serviço privado', 'Cozinha', 'Baixa qualificação',
       'Medicina', 'Secretariado', 'Garçom', 'RH', 'Corretor imobiliário',
       'TI'], dtype=object)

In [101]:
# Tratar os dados null 

df_cadastrados_limpo['Ocupacao'] = df_cadastrados_limpo['Ocupacao'].fillna(value='Outros')

In [102]:
# Filtrar apenas colunas com valores nulos

df_cadastrados_limpo.isnull().sum()

ID_Cliente               0
Genero                   0
Tem_carro                0
Tem_casa_propria         0
Qtd_filhos               0
Rendimento_anual         0
Categoria_de_renda       0
Grau_escolaridade        0
Estado_civil             0
Moradia                  0
Idade                    0
Anos_empregado           0
Tem_celular              0
Tem_telefone_trabalho    0
Tem_telefone_fixo        0
Tem_email                0
Ocupacao                 0
Tamanho_familia          0
dtype: int64

In [103]:
# Ver a qtd de registro unica de cada coluna
df_cadastrados_limpo.nunique()

ID_Cliente               438463
Genero                        2
Tem_carro                     2
Tem_casa_propria              2
Qtd_filhos                   12
Rendimento_anual            866
Categoria_de_renda            5
Grau_escolaridade             5
Estado_civil                  5
Moradia                       6
Idade                     16379
Anos_empregado             9406
Tem_celular                   1
Tem_telefone_trabalho         2
Tem_telefone_fixo             2
Tem_email                     2
Ocupacao                     19
Tamanho_familia              13
dtype: int64

In [104]:
# Remover colunas não necessarias

df_cadastrados_limpo = df_cadastrados_limpo.drop('Genero', axis=1)
df_cadastrados_limpo = df_cadastrados_limpo.drop('Tem_celular', axis=1)

In [105]:
# Ver os dados unico --> Tem_carro

df_cadastrados_limpo['Tem_carro'].unique()

array(['Y', 'N'], dtype=object)

In [106]:
# Ver os dados unico --> Tem_casa_propria

df_cadastrados_limpo['Tem_casa_propria'].unique()

array(['Y', 'N'], dtype=object)

In [107]:
# Ver os dados unico --> Tem_telefone_trabalho

df_cadastrados_limpo['Tem_telefone_trabalho'].unique()

array([1, 0])

In [108]:
# Ver os dados unico --> Tem_telefone_fixo

df_cadastrados_limpo['Tem_telefone_fixo'].unique()

array([0, 1])

In [109]:
# Ver os dados unico --> Tem_email

df_cadastrados_limpo['Tem_email'].unique()

array([0, 1])

In [110]:
# Ver os tipos de dados

df_cadastrados_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 438463 entries, 0 to 438556
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Tem_carro              438463 non-null  object
 2   Tem_casa_propria       438463 non-null  object
 3   Qtd_filhos             438463 non-null  int64
 4   Rendimento_anual       438463 non-null  float64
 5   Categoria_de_renda     438463 non-null  object
 6   Grau_escolaridade      438463 non-null  object
 7   Estado_civil           438463 non-null  object
 8   Moradia                438463 non-null  object
 9   Idade                  438463 non-null  int64
 10  Anos_empregado         438463 non-null  int64
 11  Tem_telefone_trabalho  438463 non-null  int64
 12  Tem_telefone_fixo      438463 non-null  int64
 13  Tem_email              438463 non-null  int64
 14  Ocupacao               438463 non-null  object
 15  Tamanho_familia        438463 non-null  float64
dtypes: float64(2), int64(7), object(7)
memory usage: 56.9+ MB

In [111]:
# Alterar os dados 

df_cadastrados_limpo['Tem_carro'] = df_cadastrados_limpo['Tem_carro'].map({'Y': 1, 'N': 0})
df_cadastrados_limpo['Tem_casa_propria'] = df_cadastrados_limpo['Tem_casa_propria'].map({'Y': 1, 'N': 0})

In [112]:
# Ver os dados tratados

df_cadastrados_limpo.head()

,ID_Cliente,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,0,0,Outros,2.0
1,5008805,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,0,0,Outros,2.0
2,5008806,1,1,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-21474,-1134,0,0,0,Segurança,2.0
3,5008808,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,0,1,1,Vendas,1.0
4,5008809,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,0,1,1,Vendas,1.0

In [113]:
# Tratar os dados Idade e Anos_empregado

df_cadastrados_limpo['Idade'] = - df_cadastrados_limpo['Idade']/365.2425
df_cadastrados_limpo['Anos_empregado'] = - df_cadastrados_limpo['Anos_empregado']/365.2425

In [114]:
# Ver os dados pós tratamento 

df_cadastrados_limpo.head()

,ID_Cliente,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,32.868574,12.435574,1,0,0,Outros,2.0
1,5008805,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,32.868574,12.435574,1,0,0,Outros,2.0
2,5008806,1,1,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,58.793815,3.104787,0,0,0,Segurança,2.0
3,5008808,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,52.321403,8.353354,0,1,1,Vendas,1.0
4,5008809,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,52.321403,8.353354,0,1,1,Vendas,1.0

In [115]:
# Ver qtd Anos_empregado

df_cadastrados_limpo['Anos_empregado'].value_counts()

Anos_empregado
-1000.001369    75314
 0.596864         262
 4.594208         251
 0.681739         241
 2.677673         240
                ...
 19.488422          1
 18.133158          1
 28.671362          1
 21.837546          1
 37.402548          1
Name: count, Length: 9406, dtype: int64

In [116]:
# Tratar os dados 

df_cadastrados_limpo.loc[df_cadastrados_limpo['Anos_empregado'] < 0, 'Anos_empregado'] = 0

In [117]:
# Ver qtd Anos_empregado

df_cadastrados_limpo['Anos_empregado'].value_counts()

Anos_empregado
0.000000     75314
0.596864       262
4.594208       251
0.681739       241
2.677673       240
             ...
19.488422        1
18.133158        1
28.671362        1
21.837546        1
37.402548        1
Name: count, Length: 9406, dtype: int64

#### **Aula 2 - Criando a variável target**

#### **Aula 3 - Machine Learning: Construindo a Pipeline**

#### **Aula 4 - Machine Learning: Escolhendo o Melhor Modelo**

#### **Aula 5 - Criando a aplicação**